<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<application xmlns="urn:schemas-microsoft-com:asm.v3">
		<windowsSettings>
			<!-- The combination of below two tags have the following effect :
     1) Per-Monitor for >= Windows 10 Anniversary Update
     2) System < Windows 10 Anniversary Update -->
			<dpiAwareness xmlns="https://schemas.microsoft.com/SMI/2016/WindowsSettings">PerMonitor</dpiAwareness>
			<dpiAware xmlns="https://schemas.microsoft.com/SMI/2005/WindowsSettings">true/PM</dpiAware>
		</windowsSettings>
	</application>
</configuration>